.ccls-cache
*.o
Makefile
wordle
replit.nix
__build_internal
CMakeFiles
cmake_install.cmake
CMakeCache.txt
*.exe
*.ilk
*.pdb
.vscode
*.vcxproj
*.vcxproj.filters
*.sln
x64
Debug
Release
wordle.dir
testing
Makefile
install_manifest.txt
build