*.o
Makefile
wordle
CMakeFiles
cmake_install.cmake
CMakeCache.txt
*.exe
*.ilk
*.pdb
.vscode
*.vcxproj
*.vcxproj.filters
*.sln
x64
arm64
arm
x86
bin
Debug
Release
wordle.dir
testing
Makefile
install_manifest.txt
build